.ChatBox {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #F1F0EA;
  border: 2px solid black;
}

.display-chat{
  height: 200px;
  overflow: auto;
}

.chatInput{
  width: 96%;
  padding: 5px;

}
