body {
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
 padding-bottom: 8%
}

header {
  color: #fff;
  background-color: #2e86ab;
  padding: 33px 0 25px 15px;
}

header h1 {
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 0.3px;
  display: inline-block;
  margin: 0;
  vertical-align: middle;

}

header i {
  vertical-align: middle;
  margin-left: 12px;
}


h2 {
  padding: 0;
  margin: 0;
  font-weight: 400;
}

.navigation{

  text-align: center;
  position: relative;
}


body {
  font-family: 'Lucida Sans Unicode';
}

h1 {
  text-align: center;
  font-size: 50px;
}

table {
  margin: 0 auto;
  border-spacing: 0px 0px;
}


.cell {
  height: 70px;
  width: 70px;
  background-color: #1990ff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}



.circles {
  margin: -40px 0 25px 0;
  display: flex;
  justify-content: center;
}



.message {
  text-align: center;
  font-size: 17px;
}

.white {
  height: 60px;
  width: 60px;
  background-color: #FFF;
  border-radius: 100px;
}

.red {
  height: 60px;
  width: 60px;
  background-color: red;
  border-radius: 100px;
  transition: background-color 0.5s;
}

.yellow {
  height: 60px;
  width: 60px;
  background-color: yellow;
  border-radius: 100px;
  transition: background-color 0.5s;
}
